/.idea/
/location_service/src/main/resources/application.properties
/packet_service/src/main/resources/application.properties

authentication_provider/persistence/Config/DatabaseConfig.cs
authentication_provider/persistence/Config/DatabaseConfig.cs
gateway/gateway.sln.DotSettings.user
