/.idea/
/location_service/src/main/resources/application.properties
/packet_service/src/main/resources/application.properties

authentication_provider/persistence/Config/DatabaseConfig.cs
authentication_provider/persistence/Config/DatabaseConfig.cs
gateway/gateway.sln.DotSettings.user
log.txt
DotnetFrontend/RabbitMqConsumer/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
DotnetFrontend/RabbitMqConsumer/obj/Debug/net7.0/RabbitMqConsumer.AssemblyInfo.cs
DotnetFrontend/RabbitMqConsumer/obj/Debug/net7.0/RabbitMqConsumer.AssemblyInfoInputs.cache
DotnetFrontend/RabbitMqConsumer/obj/Debug/net7.0/RabbitMqConsumer.assets.cache
DotnetFrontend/RabbitMqConsumer/obj/Debug/net7.0/RabbitMqConsumer.csproj.AssemblyReference.cache
DotnetFrontend/RabbitMqConsumer/obj/Debug/net7.0/RabbitMqConsumer.GeneratedMSBuildEditorConfig.editorconfig
DotnetFrontend/RabbitMqConsumer/obj/Debug/net7.0/RabbitMqConsumer.GlobalUsings.g.cs
DotnetFrontend/RabbitMqConsumer/obj/project.assets.json
DotnetFrontend/RabbitMqConsumer/obj/project.nuget.cache
DotnetFrontend/RabbitMqConsumer/obj/project.packagespec.json
DotnetFrontend/RabbitMqConsumer/obj/RabbitMqConsumer.csproj.nuget.dgspec.json
DotnetFrontend/RabbitMqConsumer/obj/RabbitMqConsumer.csproj.nuget.g.props
DotnetFrontend/RabbitMqConsumer/obj/RabbitMqConsumer.csproj.nuget.g.targets
DotnetFrontend/RabbitMqConsumer/obj/rider.project.model.nuget.info
DotnetFrontend/RabbitMqConsumer/obj/rider.project.restore.info
CSharpShared/CSharpProto/obj/rider.project.restore.info
CSharpShared/CSharpProto/obj/rider.project.model.nuget.info
CSharpShared/CSharpProto/obj/project.packagespec.json
CSharpShared/CSharpProto/obj/project.nuget.cache
CSharpShared/CSharpProto/obj/project.assets.json
CSharpShared/CSharpProto/obj/Debug/net7.0/UserServiceGrpc.cs
CSharpShared/CSharpProto/obj/Debug/net7.0/UserService.cs
CSharpShared/CSharpProto/obj/Debug/net7.0/PacketServiceGrpc.cs
CSharpShared/CSharpProto/obj/Debug/net7.0/PacketService.cs
CSharpShared/CSharpProto/obj/Debug/net7.0/LocationServiceGrpc.cs
CSharpShared/CSharpProto/obj/Debug/net7.0/LocationService.cs
CSharpShared/CSharpProto/obj/Debug/net7.0/CSharpProto.GlobalUsings.g.cs
CSharpShared/CSharpProto/obj/Debug/net7.0/CSharpProto.GeneratedMSBuildEditorConfig.editorconfig
CSharpShared/CSharpProto/obj/Debug/net7.0/CSharpProto.csproj.AssemblyReference.cache
CSharpShared/CSharpProto/obj/Debug/net7.0/CSharpProto.assets.cache
CSharpShared/CSharpProto/obj/Debug/net7.0/CSharpProto.AssemblyInfoInputs.cache
CSharpShared/CSharpProto/obj/Debug/net7.0/CSharpProto.AssemblyInfo.cs
CSharpShared/CSharpProto/obj/Debug/net7.0/AuthenticationServiceGrpc.cs
CSharpShared/CSharpProto/obj/Debug/net7.0/AuthenticationService.cs
CSharpShared/CSharpProto/obj/Debug/net7.0/08a1cd98a1ff1f15_user_service.protodep
CSharpShared/CSharpProto/obj/Debug/net7.0/08a1cd98a1ff1f15_packet_service.protodep
CSharpShared/CSharpProto/obj/Debug/net7.0/08a1cd98a1ff1f15_location_service.protodep
CSharpShared/CSharpProto/obj/Debug/net7.0/08a1cd98a1ff1f15_authentication_service.protodep
CSharpShared/CSharpProto/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
CSharpShared/CSharpProto/obj/CSharpProto.csproj.nuget.g.targets
CSharpShared/CSharpProto/obj/CSharpProto.csproj.nuget.g.props
CSharpShared/CSharpProto/obj/CSharpProto.csproj.nuget.dgspec.json
