.idea
gateway/obj
gateway/bin
RpcClient/bin
RpcClient/obj
Model/bin
Model/obj
AuthenticationScheme/bin
AuthenticationScheme/obj
AuthenticationScheme/.idea
AuthenticationScheme/.vs
gateway/.idea
gateway/.vs
RpcClient/.idea
RpcClient/.vs
Model/.idea
Model/.vs
GatewayTest/bin
GatewayTest/obj
GatewayTest/.idea
RabbitMq/bin
RabbitMq/obj
RabbitMq/.idea
/gateway/Logger/bin/
/gateway/Logger/obj/
/gateway/gateway/log.txt
Logger/bin
Logger/obj
Logger/.idea