
<div class="col-md-4 mb-4 ">
    <div class="window">
        <img src=@CardPicture class="card-img" height="150" alt="forest">
        <div class="card-body">
            <h5 class="card-title text-center">@CardTitle</h5>
            <h6 class="card-title text-center">@CardSubTitle</h6>
            <hr>
            <p class="text-center">@CardDescription</p>
            <AuthorizeView Roles="Admin">
                                    <a  @onclick="() => CardButtonMethod.InvokeAsync()">
                                    <div class="d-flex align-items-center deleteButton px-1">
                                                
                                        <img src="deletePickupPoint.svg" alt="deletePickupPoint"><b>@CardButtonText</b>
                                                
                                    </div>
                                    </a>
            </AuthorizeView>
          
        </div>
    </div>
</div>
<style>
    .window{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    }
     .deleteButton{
        background-color: 	rgba(102, 206, 232, 0.65);
        border-radius: 20px;
        width: 90px;
        }
        .deleteButton:hover{
        background-color: rgba(53, 124, 193, 0.78);
        cursor: pointer;
        
        }
</style>

@code {
    [Parameter]
    public string CardPicture { get; set; }
    [Parameter]
    public string CardTitle { get; set; }
    [Parameter]
    public string CardSubTitle { get; set; }
    [Parameter]
    public string CardDescription { get; set; }
    [Parameter]
    public EventCallback  CardButtonMethod { get; set; }
    [Parameter]
    public string CardButtonText { get; set; }
   
}