@page "/VerifyEmail"
@using System.Text.RegularExpressions
@using System.Collections.Specialized
@inject NavigationManager NavigationManager
<h3>UrlExtractor</h3>


@code {
    private bool extractionDone = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !extractionDone)
        {
            string currentUrl = NavigationManager.Uri;
            Uri uri = new Uri(currentUrl);
            string query = uri.Query;
            NameValueCollection queryParameters = System.Web.HttpUtility.ParseQueryString(query);
            string tokenValue = queryParameters.Get("token");
            Console.WriteLine("Token value: " + tokenValue);

            extractionDone = true;
        }
    }
}