/DotnetFrontend/obj/
/DotnetFrontend/bin
/DotnetFrontend/Validators/bin/
/DotnetFrontend/Validators/obj/
/DotnetFrontend/Validators/.idea
DotnetFrontend/Validators/bin
DotnetFrontend/Validators/obj
/HttpClient/bin/
/HttpClient/obj/
/Domain/bin/
/Domain/obj/
/packages/
.idea
