@page "/"

<PageTitle>Home</PageTitle>
<div class="container h-100 d-flex">
  <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-center mt-5">
    <div class="mx-5">
      <h1 class="fw-bold text-uppercase">Delivering and sending parcels quickly and easily</h1>
      <p>We are a danish shipping solution.</p>
      <button type="button" class="btn btn-primary btn-lg">
        <a href="/PackageInfo" class="text-decoration-none text-light">Track a package</a>
      </button>
    </div>
    <div class="">
      <img src="biglogo.svg" alt="logo">
    </div>
  </div>
  
</div>


